// body {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }


.todoItem {
    padding: 5px 8px;
    margin: 8px 0px;
    cursor: pointer;
    // border: 1px solid #f5f5f5;
    // background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow:  3px 4px 19px -8px rgba(0,0,0,0.52);
}
.completed {
    text-decoration: line-through;
    color: lightgrey;
}
